<h1>Trip Tracker for <%= current_user.full_name %></h1>
<br />
<div class='trip-index'>
<% @trips.each do |trip| %>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to trip.name, trip_path(trip), class: 'trip-index'%></li>
  </ul>  
<% end %>
</div>
<%= button_to 'Add Trip', user_trips_path(current_user), method: :get, class: "btn btn-outline-primary" %>
<%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
