
<p>trip name <%= @trip.name %> </p>
<hr>
<% @trip.locations.each() do |location| %>
    <p> city: <%= location.city %> </p>
    <p> address: <%= location.address.street_address %> </p>
    <hr>
<% end %>
